body {
    font-family: 'Open Sans', sans-serif;
    color: var(--black);
}

h1{
    color: var(--white);
}


:root {
    --black: #121212;
    --white: #FAFAFA
}

#root {
    max-width: 800px;
    margin: 0 auto;
}